<div  class="px-5 mx-auto">
  <div class="row">
    <div class="col-md-12" style="text-align: center; color: #2863a9">
      <h3>LISTADO ESTUDIANTES
      </h3>
    </div>
    <br>   <br>   <br>

    <div class=" input-group col-md-12 mr-md-auto px-3">
      <input class="form-control" style="font-size: small" type="text" #Busquedaasd="ngModel"
             [(ngModel)]="this.busqueda" name="Busquedaasd" (input)="filtrar()"/>
      <div class="input-group-append">
        <span class="input-group-text  small"><li class="fas fa-search"></li></span>
      </div>

    </div>

  </div>
  <br>
  <table class="table  text-center">
    <thead>
      <tr style="background-color: #343a40; align-content: center">
        <th style="color: white" scope="col">#</th>
        <th style="color: white" scope="col">Nombre</th>
        <th style="color: white" scope="col">Cédula</th>
        <th style="color: white" scope="col">Correo</th>
        <th style="color: white" scope="col">Celular</th>
        <th style="color: white" scope="col">Opción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let listado of result">
        <th scope="row">1</th>

        <td style="font-size: 130%">{{listado.NOMBRE_ESTUDIANTE}} {{ listado.APELLIDO_ESTUDIANTE}}</td>
        <td style="font-size: 130%">{{listado.CEDULA_ESTUDIANTE}}</td>
        <td style="font-size: 130%">{{ listado.CORREO_ESTUDIANTE}}</td>
        <td style="font-size: 130%">{{listado.CELULAR_ESTUDIANTE }}</td>
        <td>
          <input class="btn btn-primary " type="button" value="ver"  [routerLink]="['../modificar-estudiante/', listado.ID_ESTUDIANTE ]">
        </td>
      </tr>
    </tbody>
  </table>
</div>