<nav class="navbar navbar-light bg-dark text-right  ">
  <img src="../../../assets/images/logo.png" class="img-xs flex">
  <a class="navbar-brand  ml-auto" href="#">

  </a>





  <div class="btn-group">
    <button type="button" class="btn btn-none dropdown-toggle white" data-toggle="dropdown" data-display="static"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user-circle white"></i> &nbsp; Usuario
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
      <button class="dropdown-item" type="button" [routerLink]="['../principal']">Principal</button>
      <button class="dropdown-item" type="button" (click)="salirEstudiante()">Salir</button>
    
    </div>
  </div>
</nav>
<br>
<h3  class="  px-5 ">Mi cuenta</h3>
<div class="container shadow   box-part bg-white w-50" >
  <br>
 
  <form #IngresarEstudiante="ngForm" >
    <br>
    <div class="row">

      <div class="col-12 col-md-3 mx-auto">
        <img src="../../../assets/images/IngresarEstudiante.png" width="90%" class=" txt-center">
      </div>
      
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="nombreEstudiante">Nombre</label>
          <input style="text-transform:uppercase;" type="text" required class="form-control" #nombreEstudiante="ngModel" [(ngModel)]="estudiante_register.nombre"
            name="nombreEstudiante" id="nombreEstudiante" pattern="[ A-Za-zñÑ]*">
          <div [hidden]="nombreEstudiante.valid || nombreEstudiante.pristine" class="alert alert-warning">
            Ingrese solo letras
          </div>
        </div>
        <div class="form-group">
          <label for="cedulaEstudiante">Cédula</label>
          <input type="text" required class="form-control" #cedulaEstudiante="ngModel" [(ngModel)]="estudiante_register.cedula" name="cedulaEstudiante"
            id="cedulaEstudiante" pattern=".{10,10}">
          <div [hidden]="cedulaEstudiante.valid || cedulaEstudiante.pristine" class="alert alert-warning">
            Ingrese solo 10 digitos numéricos
          </div>
        </div>
        

        <div class="card-columns">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="apellidoChofer">Apellido</label>
          <input style="text-transform:uppercase;" type="text" required class="form-control" #ApellidoChofer="ngModel" [(ngModel)]="estudiante_register.apellido"
            name="apellidoChofer" id="apellidoChofer" pattern="[ A-Za-zñÑ]*">
          <div [hidden]="ApellidoChofer.valid || ApellidoChofer.pristine" class="alert alert-warning">
            Ingrese solo letras
          </div>
        </div>

        <div class="form-group">
          <label for="celularEstudiante">Celular</label>
          <input type="text" required class="form-control" #celularEstudiante="ngModel" [(ngModel)]="estudiante_register.tel_celular" name="celularEstudiante"
            id="celularEstudiante" pattern=".{10,10}">
          <div [hidden]="celularEstudiante.valid || celularEstudiante.pristine" class="alert alert-warning">
            Ingrese solo 10 digitos numéricos
          </div>
        </div>
       
        <!-- <div class="form-group">
          <label for="licenciaChofer">Ingrese numero de licencia</label>
          <input type="text" required class="form-control" #LicenciaChofer="ngModel" [(ngModel)]="chofer_register.num_licencia" name="licenciaChofer"
            id="licenciaChofer" pattern="[0-9]*">
          <div [hidden]="LicenciaChofer.valid || LicenciaChofer.pristine" class="alert alert-warning">
            Ingrese solo números
          </div>
        </div>-->
        
      </div>

      
    </div>
    <div class="row">

      
      <div class="col-md-12" >

        <div class="form-group">
          <label for="correoEstudiante">Correo</label>
          <input type="email" required class="form-control" #correoEstudiante="ngModel" [(ngModel)]="estudiante_register.correo" name="correoEstudiante"
            id="correoEstudiante" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <div [hidden]="correoEstudiante.valid || correoEstudiante.pristine" class="alert alert-warning">
            Ingrese un correo electrónico válido
          </div>
        </div>

      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <button type="submit" class="btn btn-primary" [disabled]="!IngresarEstudiante.form.valid">Guardar Datos</button>
        <br>  <br>  
      </div>
    
    </div>
  </form>
 
</div>
<br> 