<div *ngIf="loading">
  <div class="spinner">
  <img src="../../../assets/images/cargar.gif" width="10%">
  </div>
  </div>
  


<nav class="navbar navbar-light bg-dark text-right  ">
  <img src="../../../assets/images/logo.png" class="img-xs flex">
  <a class="navbar-brand  ml-auto" href="#">

  </a>



  <div class="btn-group">
    <button type="button" class="btn btn-none dropdown-toggle white" data-toggle="dropdown" data-display="static"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user-circle white"></i> &nbsp; Usuario
    </button>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
      <button class="dropdown-item" type="button" [routerLink]="['/mi-cuenta']" > Mi cuenta</button>
      <button class="dropdown-item" type="button" (click)="salirEstudiante()">Salir</button>

    </div>
  </div>
</nav>


<div class="box p-0 m-0 ">


  <div class=" w-100  text-center position-absolute pt-5">
    <img src="../../../assets/images/logo.png" class="img-xl   imagen-fondo mx-auto">
  </div>

  <!-- Image and text -->
  <div class="container ">




    <div class="row  justify-content-center">


      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="display: flex;">

        <div class="box-part text-center boxs shadow-lg  px-1 py-3 animacion">

          <img src="../../../assets/images/moodle.png" width="30%">

          <div class="title">
            <h4>Plataforma moodle EBENEZER</h4>
          </div>

          <div class="text">
            <span>Interactúa con el material que los docentes suban, también con actividades para el trabajo asíncrono
            </span>
          </div>

          <p><strong>Usuario:</strong> &nbsp;&nbsp;prueba@ebenezercolegio.edu.ec</p>
          <p><strong>Contraseña:</strong> &nbsp;&nbsp;0601234567</p>
          <a href="https://distanciavirtual.ebenezercolegio.edu.ec/" class="a">Acceder</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-3 animacion ">

          <img src="../../../assets/images/sistema.svg" width="60%">



          <div class="title">
            <h4>SIC EBENEZER</h4>
          </div>

          <div class="text">
            <span>En el Sistema Integrado de Calificaciones mira en tiempo real su reporte de calificaciones en
              cualquier lugar.</span>
          </div>
          <p><strong>Usuario:</strong> &nbsp;&nbsp;0601234567</p>
          <p><strong>Contraseña:</strong> &nbsp;&nbsp;0601234567</p>
          <a href="https://sicdistancia.ebenezercolegio.edu.ec/" class="a">Acceder</a>

        </div>
      </div>



      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-3 animacion">

          <img src="../../../assets/images/cloud.svg" width="35%">

          <div class="title">
            <h4>Nube Institucional EBENEZER</h4>
          </div>

          <div class="text">
            <span>Guarda archivos importantes y utilizalos desde cualquier lugar con conexión a internet</span>
          </div>
          <p><strong>Usuario:</strong> &nbsp;&nbsp;prueba@ebenezercolegio.edu.ec</p>
          <p><strong>Contraseña:</strong> &nbsp;&nbsp;0601234567</p>
          <a href="https://nube.ebenezercolegio.edu.ec/index.php/login" class="a">Acceder</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-3 animacion">

          <img src="../../../assets/images/biblioteca.svg" width="42%">

          <div class="title">
            <h4>Biblioteca</h4>
          </div>

          <div class="text">
            <span>Accede a la biblioteca virtual con la que cuenta la Institucion que puede ser de gran ayuda para tus trabajos de investigacíon</span>
          </div>
          <p><strong>Usuario:</strong> &nbsp;&nbsp;prueba@ebenezercolegio.edu.ec</p>
          <p><strong>Contraseña:</strong> &nbsp;&nbsp;0601234567</p>
          <a href="https://biblioteca.ebenezercolegio.edu.ec/" class="a">Acceder</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-3 animacion">

          <img src="../../../assets/images/email.svg" width="38%">

          <div class="title">
            <h4>Servidor de correo</h4>
          </div>

          <div class="text">
            <span>Cada miembro de la comunidad educativa tiene acceso a su correo electrónico institucional para el
              flujo de comunicación.</span>
          </div>
          <p><strong>Usuario:</strong> &nbsp;&nbsp;prueba@ebenezercolegio.edu.ec</p>
          <p><strong>Contraseña:</strong> &nbsp;&nbsp;0601234567Prueba</p>
          <a href=" https://ebenezercolegio.edu.ec/correos/" class="a">Acceder</a>
         
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-3 animacion">

          <img src="../../../assets/images/teams.png" width="35%">

          <div class="title">
            <h4>Microsoft Teams</h4>
          </div>

          <div class="text">
            <span>Utiliza todos los beneficios de la plataforma Microsoft Teams de la Institución </span>
          </div>
          <p><strong>Usuario:</strong> &nbsp;&nbsp;prueba@ebenezercolegio.edu.ec</p>
          <p><strong>Contraseña:</strong> &nbsp;&nbsp;0601234567</p>
          <a href="https://login.microsoftonline.com/" class="a">Acceder</a>

        </div>
      </div>
    </div>
  </div>
</div>