<nav class="navbar navbar-light bg-dark text-right ">
  <a class="navbar-brand  ml-auto" href="#" >
    <img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top " alt="">
   Usuario
  </a>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
</nav>


<div class="box p-0 m-0">
  <!-- Image and text -->
  <div class="container  ">
    
    <div class="row">


     
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: flex;">

          <div class="box-part text-center boxs shadow-lg  px-1 py-4">

            <img src="../../../assets/images/moodle.png" width="30%">

            <div class="title">
              <h4>Plataforma moodle EBENEZER</h4>
            </div>

            <div class="text">
              <span>interactua con el material que los docentes suban, también con actividades para el trabajo asincróno
              </span>
            </div>

            <a href="#">Acceder</a>

          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: flex;" >

          <div class="box-part text-center boxs shadow-lg px-1 py-4 "  >

            <img src="../../../assets/images/sistema.svg" width="60%">



            <div class="title">
              <h4>SIG EBENEZER</h4>
            </div>

            <div class="text">
              <span>En el Sistema Integrado de Calificaciones mira en tiempo real su reporte de calificaciones en
                cualquier lugar.</span>
            </div>

            <a href="#" >Acceder</a>

          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="display: flex;">

          <div class="box-part text-center boxs shadow-lg px-1 py-4">

            <img src="../../../assets/images/matricula.svg" width="45%">

            <div class="title">
              <h4>Sistema de Matriculacion</h4>
            </div>

            <div class="text">
              <span>Realiza tu matricula en cualquier momento y desde cualquier lugar con conexion a internet</span>
            </div>

            <a href="#">Acceder</a>

          </div>
        </div>

     





      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-4">

          <img src="../../../assets/images/cloud.svg" width="35%">

          <div class="title">
            <h4>Nube Institucional EBENEZER</h4>
          </div>

          <div class="text">
            <span>Guarda archivos importantes y utilizalos desde cualquier lugar con conexion a internet</span>
          </div>

          <a href="#">Acceder</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-4">

          <img src="../../../assets/images/encuesta.svg" width="55%">

          <div class="title">
            <h4>Sistema de Encuestas</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret
              qui ad.</span>
          </div>

          <a href="#">Acceder</a>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="display: flex;">

        <div class="box-part text-center boxs shadow-lg px-1 py-4">

          <img src="../../../assets/images/email.svg" width="38%">

          <div class="title">
            <h4>Servidor de correo</h4>
          </div>

          <div class="text">
            <span>Cada miembro de la comunidad educativa tiene acceso a su correo electrónico institucional para el
              flujo de comunicación.</span>
          </div>

          <a href="#">Acceder</a>

        </div>
      </div>

    </div>
  </div>
</div>